#board{
    text-align: center;
    top: 3em;
    height: 370px;
}

.row > div{
    float: left;
    height: 100px;
    width: 100px;
    font-size: 85px;
}

.row{
    margin: auto;
    width: 305px;
    clear: both;
}

.top{
    border-bottom: 1px black solid;
}

.bottom{
    border-top: 1px black solid;
}

.left{
    border-right: 1px black solid;
}

.right{
    border-left: 1px black solid;
}

.victory-message > h2{
    text-align: center;
}